<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="widget.map.com.urlocationmapwidget" >

    <!-- Internet calls etc. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Find your current location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Download for new update version, configuration of application needs etc. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label" >

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/application_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".UrLocationWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="@string/application_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="widget.map.com.urlocationmapwidget.SETTING" />
                <action android:name="widget.map.com.urlocationmapwidget.LOCATE" />
                <action android:name="widget.map.com.urlocationmapwidget.ZOOM_IN" />
                <action android:name="widget.map.com.urlocationmapwidget.ZOOM_OUT" />
                <action android:name="widget.map.com.urlocationmapwidget.UPDATE" />
                <action android:name="widget.map.com.urlocationmapwidget.ENABLE_LOCATING"/>
                <action android:name="widget.map.com.urlocationmapwidget.CLICK_MAP"/>

            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>

        <service
            android:name=".UrLocationWidgetService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
