<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="widget.map.com.urlocationmapwidget">

    <!-- Internet calls etc. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Find your current location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Download for new update version, configuration of application needs etc. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/application_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <!-- This meta-data tag is required to use Google Play Services. --><meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/application_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".QuickSettingActivity"
            android:label="@string/application_name"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:taskAffinity="widget.map.com.urlocationmapwidget.QUICK_SETTING"
            android:excludeFromRecents="true" />

        <receiver
            android:icon="@drawable/large_preview"
            android:name=".UrLocationWidgetProvider"
            android:label="@string/application_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="widget.map.com.urlocationmapwidget.SETTING" />
                <action android:name="widget.map.com.urlocationmapwidget.LOCATE" />
                <action android:name="widget.map.com.urlocationmapwidget.ZOOM_IN" />
                <action android:name="widget.map.com.urlocationmapwidget.ZOOM_OUT" />
                <action android:name="widget.map.com.urlocationmapwidget.UPDATE" />
                <action android:name="widget.map.com.urlocationmapwidget.ENABLE_LOCATING" />
                <action android:name="widget.map.com.urlocationmapwidget.CLICK_MAP" />
                <action android:name="widget.map.com.urlocationmapwidget.QUICK_SETTING" />
                <action android:name="widget.map.com.urlocationmapwidget.SHARE_LOCATION" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>


        <receiver
            android:icon="@drawable/small_preview"
            android:name=".UrLocationSmallWidgetProvider"
            android:label="@string/application_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="widget.map.com.urlocationmapwidget.SETTING" />
                <action android:name="widget.map.com.urlocationmapwidget.LOCATE" />
                <action android:name="widget.map.com.urlocationmapwidget.UPDATE" />
                <action android:name="widget.map.com.urlocationmapwidget.ENABLE_LOCATING" />
                <action android:name="widget.map.com.urlocationmapwidget.CLICK_MAP" />
                <action android:name="widget.map.com.urlocationmapwidget.QUICK_SETTING" />
                <action android:name="widget.map.com.urlocationmapwidget.SHARE_LOCATION" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small" />
        </receiver>


        <receiver
            android:name=".BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".UrLocationWidgetService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".UrLocationSmallWidgetService"
            android:enabled="true"
            android:exported="false" />

        <!--Event handler for changing system packages.-->
        <receiver
            android:name="com.chopping.application.InstalledAppReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>


        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="0bf5835ac1569fe382ff64839c0be3d3ed9396b9" />
    </application>

</manifest>
